body {

}

.cabecalho {
    padding: 30px;
    font-size: 25px;
    font-weight: bold;
}

main{
    padding: 30px;
}
.saudacao {
    background: ;
    text-align: center;
}
.saudacao-messagem{
    font-size: 30px;
    margin: 10px 0;
}

.saudacao-foto {
    width: 50%;
}

.apresentacao {
    font-size: 25px;  
    margin: 10px 0;
}