body {
background: #DB99A5;
}

header {
    width: 100%;
    padding: 30px;
    text-align: center;
    background: #e1dbd8;
}

.caixa{
 position: relative;
}

main{
    width: 100%;
    padding: 30px;

}
.saudacao {

    /*background: #E7E1D1;*/
    text-align: center;
}
.saudacao-messagem{
    font-size: 30px;
    margin: 10px 0;
    
}
.apresentacao{
    padding-top: 30px;
    text-align: center;
}

.nome-salao {
    font-weight: bold;
}

.servicos-titulo {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
}

ul{ 
    left: 180px;
    padding: 10px;
}

.servicos-itens{
    width: 30%;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    font-size: 25px;
    box-sizing: border-box;
    border: #000000 solid 5px;
}

.apresentacao {
    font-size: 25px;  
    margin: 10px 0;
}

table { 
    font-size: 25px;
    position: relative;
    margin: 30px auto;
    border: #000000 solid 6px;
}

table th{
    background: #CCCCCC;
    border: #000000 solid 1px;
}

table td{
    background: #FFFFFF;
    padding: 10px;
    border: #000000 solid 1px;
}

footer a {
    color: #DB99A5;
    text-decoration: none;
}

.contato:hover {
    font-size: 30px;
    transition: 1s;
}

footer {
    width: 100%;
    padding: 30px;
    text-align: center;
    color: #DB99A5;
    background: #000000;
   
    
}